Please run those two cells before running the Notebook!

In [1]:
# %matplotlib inline
%config InlineBackend.figure_format = "retina"

In [30]:
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
import pandas.core.common 
warnings.simplefilter(action="ignore", category=FutureWarning)


# feel free to modify, for example, change the context to "notebook"
sns.set_theme(context="talk", style="whitegrid", 
              palette="colorblind", color_codes=True, 
              rc={"figure.figsize": [12, 8]})

 # Acquiring Financial Data

## 1 Getting data from Yahoo Finance

For a complete list of downloadable data, please refer to the GitHub repo of yfinance
(https://github.com/ranaroussi/yfinance).

### How to do it...

1. Import the libraries:

In [3]:
import pandas as pd 
import yfinance as yf

2. Download the data:

In [4]:
df = yf.download("MSFT", 
                 start="2011-01-01", 
                 end="2021-12-31",
                 progress=False)

3. Inspect the data:

In [49]:
print(f"Downloaded {len(df)} rows of data.")
df

Downloaded 2768 rows of data.

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2011-01-03,28.049999,28.180000,27.920000,27.980000,21.801723,53443800
2011-01-04,27.940001,28.170000,27.850000,28.090000,21.887436,54405600
2011-01-05,27.900000,28.010000,27.770000,28.000000,21.817303,58998700
2011-01-06,28.040001,28.850000,27.860001,28.820000,22.456247,88026300
2011-01-07,28.639999,28.740000,28.250000,28.600000,22.284822,73762000
...,...,...,...,...,...,...
2021-12-23,332.750000,336.390015,332.730011,334.690002,330.754578,19617800
2021-12-27,335.459991,342.480011,335.429993,342.450012,338.423340,19947000
2021-12-28,343.149994,343.809998,340.320007,341.250000,337.237457,15661500
2021-12-29,341.299988,344.299988,339.679993,341.950012,337.929260,15042000
2021-12-30,341.910004,343.130005,338.820007,339.320007,335.330139,15994500

### There's more

We can also use the `Ticker` class to download the historical prices and much more.

In [5]:
# instantiate the Ticker class
msft_data = yf.Ticker("MSFT")

In [6]:
# get the last month of historical prices
msft_data.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-04-13 00:00:00-04:00,283.589996,289.899994,283.170013,289.839996,24222700,0.0,0.0
2023-04-14 00:00:00-04:00,287.000000,288.480011,283.690002,286.140015,20987900,0.0,0.0
2023-04-17 00:00:00-04:00,289.929993,291.600006,286.160004,288.799988,23836200,0.0,0.0
2023-04-18 00:00:00-04:00,291.570007,291.760010,287.010010,288.369995,20161800,0.0,0.0
2023-04-19 00:00:00-04:00,285.989990,289.049988,284.540009,288.450012,17150300,0.0,0.0
2023-04-20 00:00:00-04:00,285.250000,289.029999,285.079987,286.109985,23244400,0.0,0.0
2023-04-21 00:00:00-04:00,285.010010,286.269989,283.059998,285.760010,21676400,0.0,0.0
2023-04-24 00:00:00-04:00,282.089996,284.950012,278.720001,281.769989,26611000,0.0,0.0
2023-04-25 00:00:00-04:00,279.510010,281.600006,275.369995,275.420013,45772200,0.0,0.0
2023-04-26 00:00:00-04:00,296.700012,299.570007,292.730011,295.369995,64599200,0.0,0.0
2023-04-27 00:00:00-04:00,295.970001,305.200012,295.250000,304.829987,46462600,0.0,0.0
2023-04-28 00:00:00-04:00,304.010010,308.929993,303.309998,307.260010,36446700,0.0,0.0
2023-05-01 00:00:00-04:00,306.970001,308.600006,305.149994,305.559998,21294100,0.0,0.0
2023-05-02 00:00:00-04:00,307.760010,309.179993,303.910004,305.410004,26404400,0.0,0.0
2023-05-03 00:00:00-04:00,306.619995,308.609985,304.089996,304.399994,22360800,0.0,0.0
2023-05-04 00:00:00-04:00,306.239990,307.760010,303.399994,305.410004,22519900,0.0,0.0
2023-05-05 00:00:00-04:00,305.720001,311.970001,304.269989,310.649994,28181200,0.0,0.0
2023-05-08 00:00:00-04:00,310.130005,310.200012,306.089996,308.649994,21318600,0.0,0.0
2023-05-09 00:00:00-04:00,308.000000,310.040009,306.309998,307.000000,21340800,0.0,0.0
2023-05-10 00:00:00-04:00,308.619995,313.000000,307.670013,312.309998,30078000,0.0,0.0
2023-05-11 00:00:00-04:00,310.100006,311.119995,306.260010,310.109985,31680200,0.0,0.0
2023-05-12 00:00:00-04:00,310.549988,310.649994,306.600006,308.970001,19758100,0.0,0.0

In [7]:
# get stock's info
msft_data.info

{'address1': 'One Microsoft Way',
 'city': 'Redmond',
 'state': 'WA',
 'zip': '98052-6399',
 'country': 'United States',
 'phone': '425 882 8080',
 'fax': '425 706 7329',
 'website': 'https://www.microsoft.com',
 'industry': 'Software—Infrastructure',
 'industryDisp': 'Software—Infrastructure',
 'sector': 'Technology',
 'longBusinessSummary': 'Microsoft Corporation develops, licenses, and supports software, services, devices, and solutions worldwide. The company operates in three segments: Productivity and Business Processes, Intelligent Cloud, and More Personal Computing. The Productivity and Business Processes segment offers Office, Exchange, SharePoint, Microsoft Teams, Office 365 Security and Compliance, Microsoft Viva, and Skype for Business; Skype, Outlook.com, OneDrive, and LinkedIn; and Dynamics 365, a set of cloud-based and on-premises business solutions for organizations and enterprise divisions. The Intelligent Cloud segment licenses SQL, Windows Servers, Visual Studio, System Center, and related Client Access Licenses; GitHub that provides a collaboration platform and code hosting service for developers; Nuance provides healthcare and enterprise AI solutions; and Azure, a cloud platform. It also offers enterprise support, Microsoft consulting, and nuance professional services to assist customers in developing, deploying, and managing Microsoft server and desktop solutions; and training and certification on Microsoft products. The More Personal Computing segment provides Windows original equipment manufacturer (OEM) licensing and other non-volume licensing of the Windows operating system; Windows Commercial, such as volume licensing of the Windows operating system, Windows cloud services, and other Windows commercial offerings; patent licensing; and Windows Internet of Things. It also offers Surface, PC accessories, PCs, tablets, gaming and entertainment consoles, and other devices; Gaming, including Xbox hardware, and Xbox content and services; video games and third-party video game royalties; and Search, including Bing and Microsoft advertising. The company sells its products through OEMs, distributors, and resellers; and directly through digital marketplaces, online stores, and retail stores. Microsoft Corporation was founded in 1975 and is headquartered in Redmond, Washington.',
 'fullTimeEmployees': 221000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Satya  Nadella',
   'age': 55,
   'title': 'Chairman & CEO',
   'yearBorn': 1967,
   'fiscalYear': 2022,
   'totalPay': 12676750,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Bradford L. Smith LCA',
   'age': 63,
   'title': 'Pres & Vice Chairman',
   'yearBorn': 1959,
   'fiscalYear': 2022,
   'totalPay': 4655274,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Amy E. Hood',
   'age': 50,
   'title': 'Exec. VP & CFO',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4637915,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Judson  Althoff',
   'age': 49,
   'title': 'Exec. VP & Chief Commercial Officer',
   'yearBorn': 1973,
   'fiscalYear': 2022,
   'totalPay': 4428268,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher David Young',
   'age': 50,
   'title': 'Exec. VP of Bus. Devel., Strategy & Ventures',
   'yearBorn': 1972,
   'fiscalYear': 2022,
   'totalPay': 4588876,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Alice L. Jolla',
   'age': 55,
   'title': 'Corp. VP & Chief Accounting Officer',
   'yearBorn': 1967,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Brett  Iversen',
   'title': 'Gen. Mang. of Investor Relations',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Frank X. Shaw',
   'title': 'Corp. VP for Corp. Communications',
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Christopher C. Capossela',
   'age': 52,
   'title': 'Exec. VP & Chief Marketing Officer',
   'yearBorn': 1970,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Keith Ranger Dolliver Esq.',
   'title': 'VP, Deputy Gen. Counsel of Corp., External & Legal Affairs and Assistant Sec.',
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 5,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 2,
 'overallRisk': 2,
 'governanceEpochDate': 1682899200,
 'compensationAsOfEpochDate': 1672444800,
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 310.11,
 'open': 310.55,
 'dayLow': 306.6002,
 'dayHigh': 310.44,
 'regularMarketPreviousClose': 310.11,
 'regularMarketOpen': 310.55,
 'regularMarketDayLow': 306.6002,
 'regularMarketDayHigh': 310.44,
 'dividendRate': 2.72,
 'dividendYield': 0.0089,
 'exDividendDate': 1684281600,
 'payoutRatio': 0.28170002,
 'fiveYearAvgDividendYield': 1.1,
 'beta': 0.931034,
 'trailingPE': 32.869152,
 'forwardPE': 28.293957,
 'volume': 19774696,
 'regularMarketVolume': 19774696,
 'averageVolume': 29329382,
 'averageVolume10days': 24493610,
 'averageDailyVolume10Day': 24493610,
 'bid': 308.29,
 'ask': 308.42,
 'bidSize': 800,
 'askSize': 800,
 'marketCap': 2297343246336,
 'fiftyTwoWeekLow': 213.43,
 'fiftyTwoWeekHigh': 313.0,
 'priceToSalesTrailing12Months': 11.066681,
 'fiftyDayAverage': 284.007,
 'twoHundredDayAverage': 258.54364,
 'trailingAnnualDividendRate': 2.66,
 'trailingAnnualDividendYield': 0.008577602,
 'currency': 'USD',
 'enterpriseValue': 2297070092288,
 'profitMargins': 0.33248,
 'floatShares': 7428795636,
 'sharesOutstanding': 7435489792,
 'sharesShort': 44308393,
 'sharesShortPriorMonth': 41113563,
 'sharesShortPreviousMonthDate': 1680220800,
 'dateShortInterest': 1682640000,
 'sharesPercentSharesOut': 0.006,
 'heldPercentInsiders': 0.00052,
 'heldPercentInstitutions': 0.73767,
 'shortRatio': 1.55,
 'shortPercentOfFloat': 0.006,
 'impliedSharesOutstanding': 0,
 'bookValue': 26.178,
 'priceToBook': 11.802659,
 'lastFiscalYearEnd': 1656547200,
 'nextFiscalYearEnd': 1688083200,
 'mostRecentQuarter': 1680220800,
 'earningsQuarterlyGrowth': 0.094,
 'netIncomeToCommon': 69020000256,
 'trailingEps': 9.4,
 'forwardEps': 10.92,
 'pegRatio': 2.56,
 'lastSplitFactor': '2:1',
 'lastSplitDate': 1045526400,
 'enterpriseToRevenue': 11.065,
 'enterpriseToEbitda': 22.952,
 '52WeekChange': 0.18152964,
 'SandP52WeekChange': 0.028959513,
 'lastDividendValue': 0.68,
 'lastDividendDate': 1676419200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'MSFT',
 'underlyingSymbol': 'MSFT',
 'shortName': 'Microsoft Corporation',
 'longName': 'Microsoft Corporation',
 'firstTradeDateEpochUtc': 511108200,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': 'b004b3ec-de24-385e-b2c1-923f10d3fb62',
 'messageBoardId': 'finmb_21835',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 308.97,
 'targetHighPrice': 400.0,
 'targetLowPrice': 232.0,
 'targetMeanPrice': 331.45,
 'targetMedianPrice': 335.44,
 'recommendationMean': 1.8,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 44,
 'totalCash': 104419000320,
 'totalCashPerShare': 14.043,
 'ebitda': 100080001024,
 'totalDebt': 79312003072,
 'quickRatio': 1.655,
 'currentRatio': 1.913,
 'totalRevenue': 207590998016,
 'debtToEquity': 40.739,
 'revenuePerShare': 27.844,
 'returnOnAssets': 0.14829001,
 'returnOnEquity': 0.38601002,
 'grossProfits': 135620000000,
 'freeCashflow': 42964873216,
 'operatingCashflow': 83441000448,
 'earningsGrowth': 0.104,
 'revenueGrowth': 0.071,
 'grossMargins': 0.68522,
 'ebitdaMargins': 0.48209998,
 'operatingMargins': 0.41415,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.3007}

In [8]:
# show corporate actions
msft_data.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [11]:
msft_data.major_holders

        0                                      1
0   0.05%        % of Shares Held by All Insider
1  73.77%       % of Shares Held by Institutions
2  73.80%        % of Float Held by Institutions
3    6159  Number of Institutions Holding Shares

In [12]:
msft_data.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",642664898,2022-12-30,0.0864,198564174319
1,Blackrock Inc.,532042708,2022-12-30,0.0716,164385236140
2,State Street Corporation,294574683,2022-12-30,0.0396,91014740166
3,"FMR, LLC",200523373,2023-03-30,0.0270,61955706800
4,Price (T.Rowe) Associates Inc,168647376,2022-12-30,0.0227,52106979968
5,"Geode Capital Management, LLC",142731177,2022-12-30,0.0192,44099651931
6,Morgan Stanley,119417954,2022-12-30,0.0161,36896565393
7,Capital World Investors,91715063,2022-12-30,0.0123,28337203127
8,JP Morgan Chase & Company,91114331,2023-03-30,0.0123,28151594960
9,Norges Bank Investment Management,86316926,2022-12-30,0.0116,26669340731

In [13]:
msft_data.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,226594602,2022-12-30,0.0304,70010934456
1,Vanguard 500 Index Fund,172326589,2022-12-30,0.0232,53243746413
2,Fidelity 500 Index Fund,81720092,2023-02-27,0.0110,25249056924
3,SPDR S&P 500 ETF Trust,80591530,2023-03-30,0.0108,24900365122
4,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",75130340,2023-03-30,0.0101,23213021241
5,iShares Core S&P 500 ETF,66532494,2023-02-27,0.0089,20556544752
6,Vanguard Growth Index Fund,62920006,2022-12-30,0.0085,19440394330
7,Vanguard Institutional Index Fund-Institutiona...,52237514,2022-12-30,0.0070,16139824764
8,Growth Fund Of America Inc,41256784,2023-03-30,0.0055,12747108602
9,Vanguard Information Technology Index Fund,34018479,2022-11-29,0.0046,10510689498

In [28]:
msft_data.options

('2023-05-19',
 '2023-05-26',
 '2023-06-02',
 '2023-06-09',
 '2023-06-16',
 '2023-06-23',
 '2023-07-21',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2023-11-17',
 '2024-01-19',
 '2024-03-15',
 '2024-06-21',
 '2024-12-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [29]:
msft_data.news

[{'uuid': '9fe411d0-2968-3242-8010-1895723aa1fc',
  'title': '10 “Great” Earnings Reports Jim Cramer is Talking About',
  'publisher': 'Insider Monkey',
  'link': 'https://finance.yahoo.com/news/10-great-earnings-reports-jim-151254566.html',
  'providerPublishTime': 1683990774,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/IZkbDkz1cmb1KJua15BT3g--~B/aD00MDA7dz0zMDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/insidermonkey.com/093fed18409cbcb7e48513dcae60a0bf',
     'width': 300,
     'height': 400,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/ZbAQWXf4h1M04GscvdO1Yw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/insidermonkey.com/093fed18409cbcb7e48513dcae60a0bf',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['KO', 'MRK', 'PG', 'XOM', 'AXP', 'UNH', 'MSFT']},
 {'uuid': '30a75226-e4ad-361b-89b1-e947bd722525',
  'title': 'Investing in AI: 5 Stocks to Consider for Your Portfolio',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/30a75226-e4ad-361b-89b1-e947bd722525/investing-in-ai%3A-5-stocks-to.html',
  'providerPublishTime': 1683976020,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ZhyGq.VkM5l_VchZIm.okw--~B/aD0xNDE0O3c9MjEyMTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/49aecbf11fafca7b852478956a76e36f',
     'width': 2121,
     'height': 1414,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/zX30pDaORpX6zl6k8p3OGA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/49aecbf11fafca7b852478956a76e36f',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'NFLX', 'GOOGL', 'ETSY', 'DE']},
 {'uuid': 'b2b17066-1611-3c4f-9533-5dff03b5be0d',
  'title': 'AI Initiatives — And This Business — Have Google Stock On Cloud 9',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/b2b17066-1611-3c4f-9533-5dff03b5be0d/ai-initiatives-%E2%80%94-and-this.html',
  'providerPublishTime': 1683922100,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/x23.kZ1dqrPS3R53vC7IMA--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/863b9e45cade62c8dbb7b9581d4c86d0',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/DkOdSYxl1bI3z_OzEtF5Ng--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/863b9e45cade62c8dbb7b9581d4c86d0',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL', 'MSFT', 'AAPL', 'NVDA', 'AMZN']},
 {'uuid': 'f96ab8f4-6a57-38f7-ac7a-65eba15b83fd',
  'title': "AI Chatbot Asked Bill Gates, 'What Would You Tell Your Younger Self If You Could Go Back In Time?'",
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/ai-chatbot-asked-bill-gates-192416576.html',
  'providerPublishTime': 1683919456,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/UidHmtZZQCWaxGsTwqpb_Q--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/eaad2fe43bc6183d061b218f3c96f067',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/I7b_HdWXQQJbLzRUAWrPpQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/eaad2fe43bc6183d061b218f3c96f067',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '65b53896-faf4-3a06-9d0d-a63cf3c83192',
  'title': 'Best Dow Jones Stocks To Buy And Watch In May 2023: Apple, Microsoft Slide',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/65b53896-faf4-3a06-9d0d-a63cf3c83192/best-dow-jones-stocks-to-buy.html',
  'providerPublishTime': 1683917073,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/JPX5jeyihDRi4N6ueuYJVQ--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ed4e9880b0c3e9257977ca3554a6c383',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/.0m6SEAzHJOxc1V1Vw8fuA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/ed4e9880b0c3e9257977ca3554a6c383',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['^DJI', 'MSFT', 'AAPL']},
 {'uuid': '8a2ff8b1-c8a6-3e68-91d7-7e7aafbf3dc6',
  'title': "AI Comes To Meta's Rescue",
  'publisher': 'Benzinga',
  'link': 'https://finance.yahoo.com/news/ai-comes-metas-rescue-183247379.html',
  'providerPublishTime': 1683916367,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/eYStGv8EwIXJ01KxMDHdrg--~B/aD02NzU7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/3114e0515d62798bc6d79764353c0b7e',
     'width': 1200,
     'height': 675,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/b.550pNPQyjrtztD0Y5F2g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Benzinga/3114e0515d62798bc6d79764353c0b7e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['META', 'MSFT', 'GOOGL', 'PINS']},
 {'uuid': '0d74a471-742a-3d25-b788-2a8743d94ac8',
  'title': 'Why Shares of Alphabet Popped This Week',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/0d74a471-742a-3d25-b788-2a8743d94ac8/why-shares-of-alphabet-popped.html',
  'providerPublishTime': 1683915622,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/uMUnaWFmbKAWlONYaMLl7g--~B/aD0xMzMzO3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/d1f85cb60196ba82c0584f10ff8c5ce2',
     'width': 2000,
     'height': 1333,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/qTv.OAFkiy_cDMi0fULrdQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/d1f85cb60196ba82c0584f10ff8c5ce2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['GOOGL', 'MSFT']},
 {'uuid': '4cea9d9a-fc93-3c15-95d5-517c58006cd9',
  'title': 'Top Stock Reports for Microsoft, BP & Zoetis',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/top-stock-reports-microsoft-bp-181006467.html',
  'providerPublishTime': 1683915006,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Pw95TfPmHDhFF3uUlq8JqQ--~B/aD02MDA7dz05MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/ffc24368d8f86166905ad34287d6ef74',
     'width': 900,
     'height': 600,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/QeQqW15eOyhioqhfa.ynSg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/ffc24368d8f86166905ad34287d6ef74',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ZTS', 'MSFT', 'BP', 'NOW', 'WY']}]

## 2. Getting data from Alpha Vantage

### How to do it...

1. Import the libraries:

In [3]:
from alpha_vantage.cryptocurrencies import CryptoCurrencies

2. Authenticate using the personal API key and select the API:

In [4]:
ALPHA_VANTAGE_API_KEY = "UTF4M72VRYCFJ4PJ"

crypto_api = CryptoCurrencies(key=ALPHA_VANTAGE_API_KEY, 
                              output_format="pandas")

3. Download the daily prices of Bitcoin, expressed in EUR:

In [37]:
data, meta_data = crypto_api.get_digital_currency_daily(
    symbol="BTC", 
    market="EUR"
)

In [38]:
meta_data

{'1. Information': 'Daily Prices and Volumes for Digital Currency',
 '2. Digital Currency Code': 'BTC',
 '3. Digital Currency Name': 'Bitcoin',
 '4. Market Code': 'EUR',
 '5. Market Name': 'Euro',
 '6. Last Refreshed': '2023-05-15 00:00:00',
 '7. Time Zone': 'UTC'}

In [39]:
data

,1a. open (EUR),1b. open (USD),2a. high (EUR),2b. high (USD),3a. low (EUR),3b. low (USD),4a. close (EUR),4b. close (USD),5. volume,6. market cap (USD)
date,,,,,,,,,,
2023-05-15,24799.194093,26917.61,24811.751412,26931.24,24622.663800,26726.00,24689.771292,26798.84,1389.148180,1389.148180
2023-05-14,24668.056251,26775.27,25059.360000,27200.00,24470.216289,26560.53,24799.203306,26917.62,21594.803600,21594.803600
2023-05-13,24686.242713,26795.01,24916.973085,27045.45,24591.367239,26692.03,24668.065464,26775.28,22814.904210,22814.904210
2023-05-12,24846.180393,26968.61,24959.048856,27091.12,23780.098098,25811.46,24686.242713,26795.01,67207.934940,67207.934940
2023-05-11,25426.719162,27598.74,25455.647982,27630.14,24600.598665,26702.05,24846.189606,26968.62,47635.313650,47635.313650
...,...,...,...,...,...,...,...,...,...,...
2020-08-23,10745.591763,11663.51,10795.857891,11718.07,10607.967969,11514.13,10731.422169,11648.13,37900.004690,37900.004690
2020-08-22,10623.722199,11531.23,10766.311800,11686.00,10481.455053,11376.81,10745.085048,11662.96,43678.701646,43678.701646
2020-08-21,10920.666402,11853.54,10943.201400,11878.00,10581.876753,11485.81,10623.823542,11531.34,64448.306142,64448.306142
2020-08-20,10829.310294,11754.38,10952.414400,11888.00,10749.728400,11668.00,10920.675615,11853.55,46085.254351,46085.254351
2020-08-19,11005.020630,11945.10,11074.099704,12020.08,10651.149300,11561.00,10829.503767,11754.59,73940.169606,73940.169606

### There's more

Import the libraries:

In [6]:
import requests
import pandas as pd
from io import BytesIO

In [27]:
AV_API_URL = "https://www.alphavantage.co/query" 
parameters = {
    "function": "EARNINGS",
    "symbol": "TSLA", 
    "apikey": ALPHA_VANTAGE_API_KEY
}
r = requests.get(AV_API_URL,  params=parameters)
data = r.json()

In [28]:
data.keys()

dict_keys(['symbol', 'annualEarnings', 'quarterlyEarnings'])

In [29]:
df = pd.DataFrame(data["quarterlyEarnings"])
df.head()

,fiscalDateEnding,reportedDate,reportedEPS,estimatedEPS,surprise,surprisePercentage
0,2023-03-31,2023-04-19,0.85,0.85,0,0
1,2022-12-31,2023-01-25,1.19,1.13,0.06,5.3097
2,2022-09-30,2022-10-19,1.05,0.99,0.06,6.0606
3,2022-06-30,2022-07-20,0.76,0.6,0.16,26.6667
4,2022-03-31,2022-04-20,1.07,0.75,0.32,42.6667

2. Download the upcoming IPOs:

In [10]:
import csv

AV_API_URL = "https://www.alphavantage.co/query" 
parameters = {
    "function": "IPO_CALENDAR",
    "apikey": ALPHA_VANTAGE_API_KEY
}

with requests.Session() as s:
    download = s.get(AV_API_URL, params=parameters)
    decoded_content = download.content.decode("utf-8")
    ipos_list = list(csv.reader(decoded_content.splitlines(), delimiter=","))

df = pd.DataFrame(ipos_list[1:], columns=ipos_list[0])
df

,symbol,name,ipoDate,priceRangeLow,priceRangeHigh,currency,exchange
0,EMC,Global X Funds,2023-05-15,0,0,USD,"""NYSE ARCA"""
1,TBMCR,Trailblazer Merger Corporation I Rights,2023-05-15,0,0,USD,NASDAQ
2,EMM,Global X Funds,2023-05-15,0,0,USD,"""NYSE ARCA"""
3,TBMC,Trailblazer Merger Corporation I Class A Commo...,2023-05-15,0,0,USD,NASDAQ
4,KNF,Knife River Corporation,2023-06-01,0,0,USD,NYSE

3. Download Google's stock prices using the `TimeSeries` module:

4. Similarly, we can download the intraday prices:

In [12]:
data, _ = ts.get_intraday("GOOGL", interval="5min", outputsize="full")
data

                     1. open  2. high  3. low  4. close  5. volume
date
2023-05-12 20:00:00   117.50   117.50  117.45    117.49     6422.0
2023-05-12 19:55:00   117.42   117.44  117.42    117.44      625.0
2023-05-12 19:50:00   117.50   117.50  117.40    117.40     1035.0
2023-05-12 19:45:00   117.40   117.45  117.40    117.45     1895.0
2023-05-12 19:40:00   117.45   117.45  117.41    117.41     1238.0
...                      ...      ...     ...       ...        ...
2023-04-17 04:25:00   107.93   107.99  107.90    107.90     2171.0
2023-04-17 04:20:00   108.00   108.00  107.96    107.99     1243.0
2023-04-17 04:15:00   108.10   108.10  108.09    108.10     1061.0
2023-04-17 04:10:00   108.80   108.80  107.78    107.78    12470.0
2023-04-17 04:05:00   109.10   109.10  107.96    108.42    19156.0

[3464 rows x 5 columns]

## 3. Getting data from CoinGecko

### How to do it...

1. Import the libraries:

In [15]:
!pip install pycoingecko

Requirement already satisfied: pycoingecko in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (3.1.0)
Requirement already satisfied: requests in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (from pycoingecko) (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (from requests->pycoingecko) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (from requests->pycoingecko) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (from requests->pycoingecko) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\parvin\miniconda3\envs\analysis\lib\site-packages (from requests->pycoingecko) (2023.5.7)

In [16]:
from pycoingecko import CoinGeckoAPI
from datetime import datetime
import pandas as pd

2. Instantiate the CoinGecko API:

In [17]:
cg = CoinGeckoAPI()

3. Get Bitcoin's OHLC prices from the last 14 days:

In [18]:
ohlc = cg.get_coin_ohlc_by_id(
    id="bitcoin", vs_currency="usd", days="14"
)
ohlc_df = pd.DataFrame(ohlc)
ohlc_df.columns = ["date", "open", "high", "low", "close"]
ohlc_df["date"] = pd.to_datetime(ohlc_df["date"], unit="ms")
ohlc_df

                  date      open      high       low     close
0  2023-05-01 20:00:00  28171.61  28171.61  28171.61  28171.61
1  2023-05-02 00:00:00  27892.44  28013.59  27740.33  28007.36
2  2023-05-02 04:00:00  28125.50  28125.50  27999.90  27999.90
3  2023-05-02 08:00:00  28029.24  28029.24  27974.19  28002.24
4  2023-05-02 12:00:00  28030.14  28043.64  27996.19  28024.77
..                 ...       ...       ...       ...       ...
80 2023-05-15 04:00:00  26933.28  27220.19  26770.84  27190.73
81 2023-05-15 08:00:00  27236.85  27461.36  27236.85  27461.36
82 2023-05-15 12:00:00  27429.94  27441.46  27381.84  27403.78
83 2023-05-15 16:00:00  27362.58  27442.94  27362.58  27442.94
84 2023-05-15 20:00:00  27436.58  27493.34  27436.58  27493.34

[85 rows x 5 columns]

### There's more

1. Get the top 7 trending coins (based on the # of searches in the last 24h) from CoinGecko:

In [19]:
trending_coins = cg.get_search_trending()
(
    pd.DataFrame([coin["item"] for coin in trending_coins["coins"]])
    .drop(columns=["thumb", "small", "large"])
)

,id,coin_id,name,symbol,market_cap_rank,slug,price_btc,score
0,ethereum,279,Ethereum,ETH,2,ethereum,0.066688,0
1,sui,26375,Sui,SUI,73,sui,0.000044,1
2,matic-network,4713,Polygon,MATIC,11,polygon,0.000032,2
3,aptos,26455,Aptos,APT,34,aptos,0.000316,3
4,the-open-network,17980,Toncoin,TON,24,toncoin,0.000071,4
5,pancakeswap-token,12632,PancakeSwap,CAKE,105,pancakeswap,0.000068,5
6,bitcoin,1,Bitcoin,BTC,1,bitcoin,1.000000,6
7,arbitrum,16547,Arbitrum,ARB,38,arbitrum,0.000044,7

2. Get Bitcoin's current price in USD:

In [20]:
cg.get_price(ids="bitcoin", vs_currencies="usd")

{'bitcoin': {'usd': 27426}}

### Bonus

This section includes some additional short recipes not published in the book.

1. Get current price of ETH and BTC in USD and EUR:

In [21]:
cg.get_price(ids=["bitcoin", "ethereum"], vs_currencies=["usd", "eur"])

{'bitcoin': {'usd': 27451, 'eur': 25241},
 'ethereum': {'usd': 1830.42, 'eur': 1683.02}}

2. Get the current BTC/USD eschange rate, market capitalization, 24h volumne and change and the last-updated timestamp:

In [22]:
cg.get_price(ids="bitcoin", vs_currencies="usd", 
             include_market_cap=True, 
             include_24hr_vol=True, 
             include_24hr_change=True, 
             include_last_updated_at=True)

{'bitcoin': {'usd': 27451,
  'usd_market_cap': 531845655839.1835,
  'usd_24h_vol': 11711395535.193102,
  'usd_24h_change': 1.9817344371422747,
  'last_updated_at': 1684176652}}

3. Get the list of all supported coin ids, together with their name and symbol:

In [23]:
pd.DataFrame(cg.get_coins_list())

                             id symbol                       name
0                        01coin    zoc                     01coin
1                        0chain    zcn                        Zus
2                 0vix-protocol    vix              0VIX Protocol
3                            0x    zrx                0x Protocol
4      0x0-ai-ai-smart-contract    0x0  0x0.ai: AI Smart Contract
...                         ...    ...                        ...
10706                   zynergy    zyn                    Zynergy
10707                      zyro   zyro                       Zyro
10708                     zyrri    zyr                      Zyrri
10709                       zyx    zyx                        ZYX
10710                       zzz    zzz                GoSleep ZZZ

[10711 rows x 3 columns]

4. Get all the coins market data:

In [24]:
pd.DataFrame(cg.get_coins_markets(vs_currency="eur"))

,id,symbol,name,image,current_price,market_cap,market_cap_rank,fully_diluted_valuation,total_volume,high_24h,...,total_supply,max_supply,ath,ath_change_percentage,ath_date,atl,atl_change_percentage,atl_date,roi,last_updated
0,bitcoin,btc,Bitcoin,https://assets.coingecko.com/coins/images/1/la...,25240.000000,488593472018,1,5.295904e+11,1.071622e+10,25414.000000,...,2.100000e+07,2.100000e+07,59717.000000,-57.77675,2021-11-10T14:24:11.849Z,51.300000,49052.37937,2013-07-05T00:00:00.000Z,None,2023-05-15T18:50:42.317Z
1,ethereum,eth,Ethereum,https://assets.coingecko.com/coins/images/279/...,1682.980000,206812649865,2,2.068126e+11,7.142334e+09,1697.890000,...,1.229623e+08,NaN,4228.930000,-60.22778,2021-12-01T08:38:24.623Z,0.381455,440826.84266,2015-10-20T00:00:00.000Z,"{'times': 88.15896070589856, 'currency': 'btc'...",2023-05-15T18:50:35.936Z
2,tether,usdt,Tether,https://assets.coingecko.com/coins/images/325/...,0.919750,76147104043,3,7.614710e+10,1.433710e+10,0.925666,...,8.280724e+10,NaN,1.130000,-18.73711,2018-07-24T00:00:00.000Z,0.533096,72.49639,2015-03-02T00:00:00.000Z,None,2023-05-15T18:50:00.871Z
3,binancecoin,bnb,BNB,https://assets.coingecko.com/coins/images/825/...,289.120000,45618662621,4,5.778673e+10,3.815354e+08,291.400000,...,1.579002e+08,2.000000e+08,583.170000,-50.45416,2021-11-26T02:58:28.000Z,0.033599,859851.02826,2017-10-19T00:00:00.000Z,None,2023-05-15T18:50:36.099Z
4,usd-coin,usdc,USD Coin,https://assets.coingecko.com/coins/images/6319...,0.919317,27448091317,5,2.743982e+10,4.056514e+09,0.924063,...,2.987243e+10,NaN,1.059000,-13.29730,2022-09-27T16:25:08.674Z,0.730265,25.75652,2021-05-19T13:14:05.611Z,None,2023-05-15T18:50:34.682Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,trust-wallet-token,twt,Trust Wallet,https://assets.coingecko.com/coins/images/1108...,1.031000,429380119,96,NaN,6.527503e+06,1.047000,...,1.000000e+09,NaN,2.630000,-60.79481,2022-11-14T15:47:47.380Z,0.002466,41689.65300,2020-06-09T09:15:06.983Z,None,2023-05-15T18:50:36.897Z
96,huobi-token,ht,Huobi,https://assets.coingecko.com/coins/images/2822...,2.640000,426442617,97,5.358372e+08,1.610196e+07,2.750000,...,2.039804e+08,2.039804e+08,32.840000,-92.00039,2021-05-12T14:42:21.586Z,0.794547,230.61662,2019-01-30T00:00:00.000Z,"{'times': 1.8989368332738394, 'currency': 'usd...",2023-05-15T18:50:38.352Z
97,xdce-crowd-sale,xdc,XDC Network,https://assets.coingecko.com/coins/images/2912...,0.030460,421170183,98,NaN,3.503101e+06,0.031328,...,3.783596e+10,NaN,0.164789,-81.53141,2021-08-21T04:39:48.324Z,0.000352,8536.76345,2019-07-22T00:00:00.000Z,"{'times': 1.4067925298198605, 'currency': 'eth...",2023-05-15T18:50:29.223Z
98,flare-networks,flr,Flare,https://assets.coingecko.com/coins/images/2862...,0.026118,386394748,99,2.642899e+09,2.251720e+07,0.026555,...,1.009714e+11,NaN,0.139909,-81.31997,2023-01-10T03:14:05.921Z,0.022085,18.33786,2023-01-10T04:34:47.390Z,None,2023-05-15T18:50:40.597Z
99,zilliqa,zil,Zilliqa,https://assets.coingecko.com/coins/images/2687...,0.022328,367773387,100,4.687030e+08,2.223804e+07,0.022604,...,1.752708e+10,2.100000e+10,0.211950,-89.47043,2021-04-17T06:39:37.521Z,0.002144,941.12163,2020-03-13T02:22:55.161Z,"{'times': 0.5663640053724663, 'currency': 'eth...",2023-05-15T18:50:40.817Z

5. Get all the supported crypto exchanges:

In [25]:
exchanges_df = pd.DataFrame(cg.get_exchanges_list(per_page=250))
exchanges_df.head()

,id,name,year_established,country,description,url,image,has_trading_incentive,trust_score,trust_score_rank,trade_volume_24h_btc,trade_volume_24h_btc_normalized
0,binance,Binance,2017.0,Cayman Islands,,https://www.binance.com/,https://assets.coingecko.com/markets/images/52...,False,10.0,1.0,237505.670574,127193.662671
1,gdax,Coinbase Exchange,2012.0,United States,,https://www.coinbase.com,https://assets.coingecko.com/markets/images/23...,False,10.0,2.0,31498.982619,31498.982619
2,bybit_spot,Bybit,2018.0,British Virgin Islands,Bybit is a cryptocurrency exchange that offers...,https://www.bybit.com,https://assets.coingecko.com/markets/images/69...,False,10.0,3.0,22771.730981,22771.730981
3,okex,OKX,2017.0,Seychelles,,https://www.okx.com,https://assets.coingecko.com/markets/images/96...,False,10.0,4.0,33431.440723,17927.056432
4,huobi,Huobi,2013.0,Seychelles,,https://www.huobi.com,https://assets.coingecko.com/markets/images/25...,False,10.0,5.0,14887.696322,14887.696322

6. Get a summary of DEFI:

In [26]:
cg.get_global_decentralized_finance_defi()

{'defi_market_cap': '45545580171.2661732814151915127',
 'eth_market_cap': '225156355411.434418067605074189',
 'defi_to_eth_ratio': '20.2284230831679072460247528610053067635025119515202073013615294',
 'trading_volume_24h': '1198371609.45749559889957990428',
 'defi_dominance': '3.8237410986613989230387332655185830457846292755848556257300396',
 'top_coin_name': 'Lido Staked Ether',
 'top_coin_defi_dominance': 26.830124130771914}